.testimonial-image {
	width: 60px !important;
	height: 60px;
}
.news-image {
	height: 340px;
}

.new-home-banner-area {
	min-height: 90vh;
	display: flex;
	background: url(../hero-bg.png) no-repeat center;
	background-size: cover;
	z-index: 1;
	@media (max-width: 991px) {
		margin-top: 120px;
	}
}
